{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
        "indentation": 4,
        "number-leading-zero": null,
        "no-missing-end-of-source-newline": null,
        "string-quotes": "single",
        "no-empty-first-line": null
    },
  "customSyntax": "@stylelint/postcss-css-in-js"
}